<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
    <link rel="stylesheet" href="app/assets/stylesheets/loginsignup.scss">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body class="theloginbody">
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" class="labels" aria-hidden="true">Sign up</label>
				</form>

                <%= form_tag users_path, method: :post, :class => 'form' do %>
                    
                    <%= text_field :user, :uni, :class => 'text', :placeholder=>"uni" %>
                    <%= text_field :user, :name, :class => 'text', :placeholder=>"name" %>
                    <%= password_field :user, :password, :class => 'password', :id=>"ppadding", :placeholder=>"password" %>
                    <div class="prof">Are you a professor?</div>
                    <span class="allradios">
                    <%= radio_button_tag 'user[is_professor]', true, id="r1", :class => 'rbuttons' %> <label for="r1" class="radios">Yes</label>
                    <%= radio_button_tag 'user[is_professor]', false, id="r2", :class => 'rbuttons', :checked => true%> <label for="r2" class="radios">No</label>
                    </span>

                    <br><br>
                    <button>Sign up</button>
                <% end %>
                
                </div>

			<div class="login">
				<form>
					<label for="chk" class="labels" aria-hidden="true">Sign In</label>
				</form>

                <%= form_tag sessions_path, method: :post, :class => 'form' do %>
                    
                    <%= text_field :login, :uni, :class => 'text', :placeholder=>"uni" %>
                    <%= password_field :login, :password, :class => 'password', :placeholder=>"password" %>
                    </br>
                    <button>Sign In!</button>
                <% end %>
			</div>
	</div>
</body>
</html>