<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="app/assets/stylesheets/sessions.scss">
</head>
<body>
<%= content_tag :h1, "Hello, #{current_user.name}!" %>
<%= link_to "Sign out", clear_session_path, method:"delete", :class => 'text-right' %>

</br></br></br>
<%= content_tag :h3, "Your Viewable Courses" %>
<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Course Description</th>
    </tr>
  </thead>
  <tbody>
    <% @viewable_courses.each do |course| %>
      <tr>
        <td>
          <%= course.courseName %>
        </td>
        <td>
          <%= course.courseDescription %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'View Schedule', calendars_path, :class => 'btn btn-primary col-2' %>
</br></br></br>

<%= content_tag :h3, "Your Office Hour Slots" %>
<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    <% @calendars.each do |slot| %>
      <tr>
        <td>
          <%= slot.class_id %>
        </td>
        <td>
          <%= slot.start_time %>
        </td>
        <td>
          <%= slot.end_time %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Create New TA Office Hours', new_office_hour_teaching_assistants_path, :class => 'btn btn-primary col-2' %>
<%= link_to 'Edit TA Office Hours', edit_office_hour_teaching_assistants_path, :class => 'btn btn-primary col-2' %>
</br></br></br>

<%= content_tag :h3, "View a new course on your schedule" %>
<%= form_tag entitlements_path, method: :post, :class => 'form' do %>
  <%= label :entitlement, :courseName, 'Course Name', :class => 'col-form-label'  %>
  <%= select :entitlement, :courseName, @all_course_list, { prompt: 'Select a Course' }, class: 'form-control' %>
  <%= text_field :entitlement, :role, value: 'Viewer', :type => 'hidden' %>
  </br>
  <%= submit_tag "Add New Viewable Course", :class => 'btn btn-primary' %>
<% end %>
</br></br>

<% if current_user.is_professor == true %>
  <%= link_to 'Create a New Course', professors_path, :class => 'btn btn-primary col-2' %>
<% end %>

</body>
</html>