<%= content_tag :h1, "Hello, #{current_user.name}!" %>

</br>
<%= content_tag :h3, "Your Viewable Courses" %>
<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Course</th>
    </tr>
  </thead>
  <tbody>
    <% @viewable_courses.each do |course| %>
      <tr>
        <td>
          <%= course.courseName %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>
<%= content_tag :h3, "View a new course on your schedule" %>
<%= form_tag entitlements_path, method: :post, :class => 'form' do %>
  <%= label :entitlement, :courseName, 'Course Name', :class => 'col-form-label'  %>
  <%= text_field :entitlement, :courseName, :class => 'form-control' %>
  <%= text_field :entitlement, :role, value: 'Viewer', :type => 'hidden' %>
  </br>
  <%= submit_tag "Add New Viewable Course", :class => 'btn btn-primary' %>
<% end %>
<%= link_to 'View Schedule', schedules_path, :class => 'btn btn-primary col-2' %>

</br></br></br></br></br></br></br></br></br>
<%= link_to "Sign out", clear_session_path, method:"delete" %>