<h1>Edit Office Hour</h1>

<%= form_for @calendar, url: teaching_assistant_path(@calendar), method: :patch do |form| %>
  <% if @calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>
      <ul>
        <% @calendar.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="form-group form-inline">
      <%= form.label :start_time %>
      <%= form.datetime_select :start_time, :default => DateTime.new(DateTime.now.year, DateTime.now.month, DateTime.now.day, DateTime.now.hour, 0), :discard_minute => true%>
      <label>&nbsp:00</label>
    </span>
  </div>

  <div class="field">
    <span class="form-group form-inline">
      <%= form.label :end_time %>
      <%= form.datetime_select :end_time, :default => DateTime.new(DateTime.now.year, DateTime.now.month, DateTime.now.day, DateTime.now.hour, 0), :discard_minute => true%>
      <label>&nbsp:00</label>
    </span>
  </div>

  <div class="field">
    <%= form.label :repeated_weeks, "Number of Repeated Weeks" %>
    <%= form.number_field :repeated_weeks, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Calendar', :class => 'btn btn-primary leftfloat col-2' %>
  </div>
<% end %>

</br>
</br>
</br>
<%= link_to 'Back to Edit TA Office Hours Page', edit_office_hour_teaching_assistants_path, :class => 'btn btn-primary leftfloat col-4' %>