
<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th> Day of Week </th>
      <th>Course ID</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    <% @calendars.each do |c| %>
      <tr>
        <td>
          <%= c.wday %>
        </td>
        <td>
          <%= c.class_id %>
        </td>
        <td>
          <%= c.start_time %>
        </td>
        <td>
          <%= c.end_time %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', user_profile_path, :class => 'btn btn-primary' %>
<%= link_to 'Next Week', next_week_calendars_path(year: @year, month: @month, 
                                                      day: @day ), :class => 'btn btn-primary' %>
<%= link_to 'Previous Week', prev_week_calendars_path(year: @year, month: @month, 
                                                      day: @day ), :class => 'btn btn-primary' %>