<!-- app/views/calendars/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <link rel="stylesheet" href="app/assets/stylesheets/profile.scss">
  <style>

    .container {
      width: 85%;
      display: grid;
      grid-template-areas: ". days" "time calendar";
    }

    ol {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    ol.time {
      grid-area: time;
      display: grid;
      grid-template-rows: repeat(24, 1fr); # Total 24 rows for 24 different hour slots
    }

    ol.time > li {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      border-bottom: 2px dotted #573b8a;
    }

    ol.time > li > time {
      padding: 3px;
      line-height: 1;
      font-size: small;
    }

    ol.days {
      grid-area: days;
      display: grid;
      grid-template-columns: repeat(7, 1fr); # Total 7 columns for 7 days
    }

    ol.calendar {
      grid-area: calendar;
      display: grid;
      gap: 1px;
      grid-template: repeat(4*24, 1fr)/repeat(7, 1fr); # 96 rows for 24 hours, 4 15-min segments to each individual hour. 7 columns for 7 days
      grid-auto-flow: column;
      background-color: #e1e2e6;
      border: 2px solid #573b8a;
      border-radius: 2px;
    }

    ol.calendar > li {
      height: 35px;
      grid-column: var(--column);
      grid-row: var(--row);
      background-color: white;
    }

    <% 24.times do |i|%>
      ol.calendar li:nth-child(24n+<%=i+1%>) {
        --row: <%= (4*i)+1 %> / span 4; # Set the row of each part of our calendar (based on number of hours in calendar)
      }
    <% end %>

    <% 7.times do |i|%>
      ol.calendar li:nth-child(n+<%= i*24 + 1%>):nth-child(-n+<%= (i+1)*24%>) {
        --column: <%= i+1 %>; # Set the column of each part of our calendar (based on number of days in calendar)
      }
    <% end %>

    .task {
      z-index: var(--z-index);
      grid-column: var(--column);
      grid-row: var(--row);
      background-color: var(--color);
      border-radius: 4px;
      margin: 1px 1px 1px 1px;
      opacity: 0.7
    }

    .task:hover{
      opacity: 1.0;
      font-weight: bold;
    }

    .task:hover div{
      font-weight: normal;
      display: inline;
    }

    .task p {
      margin: 0;
      padding: 2px;
      font-size: 1vw;
      position: absolute;
      background-color:black;
      color:white;
      border-radius: 4px;
    }

    .task div {
      margin-left: 100px;
      display: none;
      margin: 0;
      white-space: pre-line;
      padding: 2px;
      font-size: 1vw;
      position: absolute;
      right: 20px;
      top: 600px;
      width: 15%;
      background-color: black;
      color: white;
      border: 1px solid black;
      border-radius: 10px;
    }

    .btn {
      margin: 10px;
    }
  </style>
</head>

<body class="profileclass">
<div class="container rounded bg-white mt-5 mb-5 calendarsize">
    <div class="row">
        <div class="col-md-2 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <%= image_tag "hourglass.png", :class => 'rounded-circle pic', :width=>"150px" %>
              <span class="font-weight-bold"><%= content_tag :h1, "#{current_user.name}" %></span><span class="text-black-50"><%= "#{current_user.uni}" %></span><span> </span>
            </div>

            <%= link_to 'Return to Profile', user_profile_path, :class => 'btn btn-primary ' %>
            </br>
            <%= link_to "Sign out", clear_session_path, method:"delete", :class => 'btn btn-primary leftfloat' %>
        </div>
        <div class="col-md-10 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5"> 
        <h1><span class="highlight">Course Office Hour Calendars</span></h1>

          <div class="block_container">
          <div class="bloc2 previousweek">
          <%= link_to 'Prev Week', prev_week_calendars_path(year: @year, month: @month, 
                                                              day: @day ), :class => 'btn btn-primary leftfloat' %>
          </div>
          
          <div class="bloc1 nextweek"><%= link_to 'Next Week', next_week_calendars_path(year: @year, month: @month, 
                                                                day: @day ), :class => 'btn btn-primary rightfloat' %>
          </div>
          </div>                                               
          </br></br></br>
          
          <section class="container">
            <ol class="days">
              <% @all_days.each do |day| %>
                <li><%= "#{day[:wday]} #{day[:date]} " %></li>
              <% end %>
            </ol>
            <ol class="time">
              <% (1..24).each do |hour| %>
                <li>
                  <time><%= (hour % 12 != 0 ? hour % 12 : 12).to_s + (hour >= 12 && hour != 24? ' pm' : ' am') %></time>
                </li>
              <% end %>
            </ol>
            <ol class="calendar">
              <% (@all_days.length * 24).times do %>
                <li></li>
              <% end %>
              <% @calendars.each_with_index do |event, index| %>
                <% color = '#%X00%X' % 2.times.map{ rand() * 200 + 50 } %>
                <% converted_wday = event.start_time.wday + 1 %>
                <% start_row = (event.start_time.hour * 4 + event.start_time.min.div(15)) + 1 %>
                <% span = event.end_time.wday == event.start_time.wday ? (event.end_time.hour * 4 + event.end_time.min.div(15)) + 1 - start_row : 96 - start_row + 1 %>
                <section class="task"  
                style="--z-index: <%= index %>; --column: <%= converted_wday %>; --row: <%= start_row %> / span <%= span %>; --color: <%= color %>;">
                  <p><%= "#{event.courseName} OH" %></p>
                  <div><%= "Organizer Uni: #{User.find(event.user_id).uni} \n Course: #{event.courseName} \n Time: #{event.start_time.strftime('%l:%M%p')} to #{event.end_time.strftime('%l:%M%p')} \n Location: #{event.location}" %></div>
                </section>
              <% end %>
            </ol>
          </section>
    </div>
</div>
</div>
</div>
</body>
</html>

</br></br></br>
</br></br></br>
</br></br></br>
</br></br></br>

<body>