<%= content_tag :h1, "Hello, TA #{current_user.name}!" %>

<%= form_for @calendar, url: create_office_hour_teaching_assistants_path, local: true do |form| %>
  <% if @calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>
      <ul>
        <% @calendar.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :courseName %>
    <%= form.select :courseName, options_for_select(@your_classes), {}, class: 'form-control' %>
  </div>

  <div class="field">
    <span class="form-group form-inline">
      <%= form.label :start_time %>
      <%= form.datetime_select :start_time, :default => DateTime.new(DateTime.now.year, DateTime.now.month, DateTime.now.day, DateTime.now.hour, 0), :ampm => true, :minute_step => 15%>
    </span>
  </div>

  <div class="field">
    <span class="form-group form-inline">
      <%= form.label :end_time %>
      <%= form.datetime_select :end_time, :default => DateTime.new(DateTime.now.year, DateTime.now.month, DateTime.now.day, DateTime.now.hour, 0), :ampm => true, :minute_step => 15%>
    </span>
  </div>

  <div class="field">
    <%= form.label :repeated_weeks, "Number of Repeated Weeks" %>
    <%= form.number_field :repeated_weeks, class: 'form-control', min: "0" %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Calendar', :class => 'btn btn-primary leftfloat col-3'%>
  </div>
<% end %>

</br></br></br>
<%= link_to 'Back to Profile Page', user_profile_path, :class => 'btn btn-primary leftfloat col-3' %>
